<!DOCTYPE html>
<html>

<head>
    {% include 'connexion/include.html' %}   
    {% load static %}
</head>

<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    {% include 'administrateur/navbar_administrateur.html' %}
    <div id="wrapper">
        {% for group in  request.user.groups.all %}
        {%  if 'Medecin' == group.name %}
             {% include 'medecin/navbar_Medecin.html' %}
           {% else %}
               {%  if 'Biologiste' == group.name %}
                      {% include 'biologiste/navbar_biologiste.html' %}
                    {% else %}
                        {%  if 'Receptionniste' == group.name %}
                               {% include 'receptionniste/navbar_reception.html' %}     
                            {% else %}
                               {% if 'Administrateur' == group.name %}
                                     {% include 'administrateur/include_admin.html' %}
                               {% endif %} 
                        {% endif %}
                {% endif %}
        {% endif %}                
        {% endfor %}   
           <div class="page-content-wrapper">
               <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: white;"></i></a>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                           <div class="card mt-5">
                                      <div class="card-body">
                                       <form class="custom-form" method="POST" style="margin-top: 0px;background-color: rgba(0,0,0,0.05);">
                                        <h1 style="color: black;">Modifier Données Réceptionniste</h1>
                                        {% csrf_token %}
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Nom </label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.nom}}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Prénom </label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.prenom}}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Date de Naissance </label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.dateNaissance}}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Email </label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.email}}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Numéro Télepone</label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.numTel}}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Adresse</label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.adresse}}
                                            </div>
                                        </div>
                                        
                                                                                
                                        <div class="form-row form-group">
                                            <div class="col-sm-4 label-column">
                                                <label class="col-form-label" style="color: black;" for="name-input-field">Sexe </label>
                                            </div>
                                            <div class="col-sm-6 input-column">
                                                {{formReceptionniste.genre}}
                                            </div>
                                        </div>
                                       
                                         
                                         
                                        <button class="btn btn-primary" type="submit"> Modifier</button>
                                       </form>
                                      </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>