<!DOCTYPE html>
<html>

<head>
 
</head>
{% include 'connexion/include.html' %}
{% load static %}
<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">

    {% include 'administrateur/navbar_administrateur.html' %}
    <div id="wrapper">
        {% include 'receptionniste/navbar_reception.html' %}
        
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        {% for d in reception_details %}
                        <form class="custom-form" style="margin-top: 0px;">
                            <h1>Mon Profile</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Nom </label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ d.nom }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Prénom</label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ d.prenom }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="email" readonly="" value="{{ d.email }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Sexe</label></div>
                                <div class="col-sm-4 input-column">
                                    <input type="text" class="form-control" readonly="" value="{{ d.genre }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Numéro téléphone</label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="tel" value="{{ d.numTel }}" readonly="">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Address</label></div>
                                <div class="col-sm-6 input-column">
                                    <textarea class="form-control" readonly="">{{ d.adresse }}</textarea>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Date de Naissance</label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ d.dateNaissance }}"></div>
                            </div>
                              
                            <a class="nav-link"  href="{% url 'change-password' %}">Modifier Mot de Passe</a >
                                
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>