<!DOCTYPE html>
<html>

<head>
    {% include 'connexion/include.html' %}
    {% load static %}
</head>

<body style="background: url(&quot;{% static 'img/medecin.jpg' %}&quot;)
 no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
 background-size: cover;o-background-size: cover;">

   
    <div id="wrapper">
        {% include 'medecin/navbar_Medecin.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center" style="color:white" >Bienvenu dans votre espace Le docteur {{request.user}}..</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>