<!DOCTYPE html>
<html>

<head>
    {% include 'connexion/include.html' %}   
    {% load static %}
    {% load crispy_forms_tags %}
</head>

<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
 
    <div id="wrapper">
     {% for group in  request.user.groups.all %}
        {%  if 'Medecin' == group.name %}
             {% include 'medecin/navbar_Medecin.html' %}
           {% else %}
               {%  if 'Biologiste' == group.name %}
                      {% include 'biologiste/navbar_biologiste.html' %}
                    {% else %}
                        {%  if 'Receptionniste' == group.name %}
                            {% include 'receptionniste/navbar_reception.html' %}        
                        {% endif %}
                {% endif %}
        {% endif %}                
        {% endfor %}  
        
            <div class="page-content-wrapper">
                <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle">
                    <i class="fa fa-bars" style="color: white;"></i></a>
                    <div class="row register-form">
                        <div class="col-md-8 offset-md-2">
                            <div class="card mt-5">
                                <div class="card-body">
                                    <form class="custom-form" method="POST" style="margin-top: 0px;background-color: rgba(0,0,0,0.05);">
                                        <h1 class="">Changer Mot de Passe</h1>
                                        {% csrf_token %}
                                        {{form | crispy }} 
                                        <button class="btn btn-info btn-block" type="submit">Changer</button>
                                    </form>
                               </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>