 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'connexion/include.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>
<body style="background: url(&quot;{% static 'img/Statis.jpg' %}&quot;)
           no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
            background-size: cover;o-background-size: cover;">


<div id="wrapper">
    {% for group in request.user.groups.all %}
    {% if 'Medecin' == group.name %}
    {% include 'medecin/navbar_Medecin.html' %}
    {% else %}
    {% if 'Biologiste' == group.name %}
    {% include 'biologiste/navbar_biologiste.html' %}
    {% else %}
    {% if 'Receptionniste' == group.name %}
    {% include 'receptionniste/navbar_reception.html' %}
    {% else %}
    {% if 'Administrateur' == group.name %}
    {% include 'administrateur/include_admin.html' %}

    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}

    <div class="page-content-wrapper">
        <div class="container-fluid"><a class="btn btn-secondary" role="button" id="menu-toggle" href="#menu-toggle"><i
                class="fa fa-bars" style="color: black;"></i></a>

            <div class="container">
                <table id="dt-filter-select" class="table table-dark" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">Date Ajout Demande</th>
                        <th class="th-sm">Nom Service</th>
                        <th class="th-sm">Age</th>
                        <th class="th-sm">Nembre prelevement</th>
                        <th class="th-sm">Nom Patient</th>
                        <th class="th-sm">Prénom Patient</th>
                        <th class="th-sm">Nom Médecin</th>
                        <th class="th-sm">Prénom Médecin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in listeDemandeanalyse %}
                    <tr style="background:black">
                        <td>{{ i.date_ajout_demande }}</td>
                        <td>{{ i.service }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.nb_prelevement }}</td>
                        <td>{{ i.nomPatient }}</td>
                        <td>{{ i.prenomPatient }}</td>
                        <td>{{ i.Nommedecin_demandeur }}</td>
                        <td>{{ i.Prenommedecin_demandeur }}</td>
                        {% for a in StatistiqueAnalyse %}
                        <td>{{ a.nom}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Date Ajout Demande</th>
                        <th>Nembre prelevement</th>
                        <th>Nom Patient</th>
                        <th>Prénom Patient</th>
                        <th>Age</th>
                        <th>Nom Service</th>
                        <th>Nom Médecin</th>
                        <th>Prénom Médecin</th>

                    </tr>
                    </tfoot>
                </table>


            </div>

        </div>
    </div>
</div>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
</body>
</html>