
/* The sidebar menu */
.sidebar {
  eight: 100%; /* 100% Full-height */
  width: 20%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left:0;
  background-color: SteelBlue; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 9px 9px 18px 32px;
  text-decoration: none;
  font-size: 17px;
  color:MidnightBlue;
  display: block;
  transition: 0.3s;
}


.sidebar > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar > .sidebar-brand a {
  color: #999999;
}

.sidebar  > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}
@media (min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
}

@media (min-width:768px) {
  #wrapper.toggled {
    padding-left: 0;
  }
}

@media (min-width:768px) {
  #sidebar-wrapper {
    width: 250px;
  }
}

@media (min-width:768px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
}

@media (min-width:768px) {
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

@media (min-width:768px) {
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/* The sidebar links */

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 25px;
  right: 0px;
  font-size: 50px;
  margin-left: 100px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:SteelBlue;
  color:MidnightBlue ;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: red;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

