<!DOCTYPE html>
<html>

<head>
    {% include 'connexion/include.html' %}
    {% load static %}
    
</head> 

<body style="background: url(&quot;{% static 'img/medecin.jpg' %}&quot;)
no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
background-size: cover;o-background-size: cover;">
  
    <div id="wrapper">
        {% for group in  request.user.groups.all %}
        {%  if 'Medecin' == group.name %}
             {% include 'medecin/navbar_Medecin.html' %}
           {% else %}
               {%  if 'Biologiste' == group.name %}
                      {% include 'biologiste/navbar_biologiste.html' %}
                    {% else %}
                        {%  if 'Receptionniste' == group.name %}
                            {% include 'receptionniste/navbar_reception.html' %}    
                        {% else %}
                           {% if 'Administrateur' == group.name %}
                              {% include 'administrateur/include_admin.html' %}  
                            
                           {% endif %}      
                        {% endif %}
                {% endif %}
        {% endif %}                
        {% endfor %} 
       
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle">
                    <i class="fa fa-bars" style="color: white;"></i></i></a>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        
                        <form class="custom-form" style="margin-top: 0px;background-color: rgba(0,0,0,0.05);">
                            <h1 style="color: white;">Resultat Coproparasitologie</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" style="color: white;" for="name-input-field">Nom </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ demande.nomPatient }}">                              </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label"  style="color: white;" for="name-input-field">Prénom </label></div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ demande.prenomPatient }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" style="color: white;" for="email-input-field">age </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="number" readonly="" value="{{ demande.age }}">                         </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Résultat</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Resultat }}"> </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Macroscopie</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ copro.Macroscopie }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;"> Microscopie </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Microscopie }}">    </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Etat_frais</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Etat_frais }}">   </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Ritchie</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Ritchie }}"></div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Kato_willis</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Kato_willis }}">    </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Scotch_test</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Scotch_test }}">    </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field" style="color: black;">Autres</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                   <input class="form-control" type="text" readonly="" value="{{ copro.Autres }}">
                                </div>
                            </div>
                            <a class="btn btn-primary  btn-lg" href="{% url 'AfficherResultatCopro' copro.id  %}" ><i class="fa fa-download"></i> </span>
                                <span class="fa fa-send"  style="color:#4f4;"></span>     <span class="fa fa-print"></span></a>


                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>