{% include 'connexion/include.html' %}

{% load static %}
{% block body %}
<body style="background: url(&quot;{% static 'img/resetdone.jpg' %}&quot;)
 no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
 background-size: cover;o-background-size: cover;">

<div class="content-section">
    <div class="alert alert-info text-center" style="background-color:white;align:center;">
        <h1>Mot de passe Défini</h1>

        <p>Votre Mot de passe a été défini.</p>
        <p>Vous Pouvez <a href="{% url 'PageAuthentification' %}" style="background-color:white;color:red;">
            Connecte-toi Maintenant</a></p>

    </div>

</div>

{% endblock %}
