{% include 'connexion/include.html' %}
{% block body %}
{% load static %}
<body class="main-bg" style="background: url(&quot;{% static 'img/resetconfir.jpg' %}&quot;)
 no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
 background-size: cover;o-background-size: cover;">
<div class="content-section">
    <fieldset class="form-group" class="text-center">
        </br>

        <h1 style="color:red" class="text-center">Réinitialisez Votre Mot de passe :</h1>
        </br>

        {% if validlink %}
        <p>Veuillez entrer votre nouveau mot de passe deux fois-OBLIGATOIREMENT:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="form-group">
                <p>
                    <button class="btn btn-outline-info" type="submit" style="background-color: blue; color:White"
                            value="Changer Mon Mot de Passe">Changer Mon Mot de Passe
                    </button>
                </p>
            </div>
        </form>
    </fieldset>
    {% else %}
    <fieldset class="form-group alert alert-info text-center " class="text-center">
    <p>Le lien de réinitialisation du mot de passe n'était pas valide,peut-être parce qu'il adéjà été utilisé.</p>
    <p>Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
    {% endif %}
    </fieldset>


</div>

{% endblock %}