{% include 'connexion/include.html' %}
{% block body %}
{% load static %}

<body style="background: url(&quot;{% static 'img/resetdone.jpg' %}&quot;)
 no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
 background-size: cover;o-background-size: cover;">
<div class="content-section">
    <div class="alert alert-info text-center" style="background-color:white;align:center;">

        <h1>Réinitialisez votre mot de passe</h1>
        <p>Entrez votre adresse é-mail pour obtenir un nouveau mot de passe.</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><button class="btn btn-outline-info" type="submit" style="background-color: blue; color:White" value="Envoyer un e-mail">Envoyer un e-mail</button>

            {% csrf_token %}

        </form>
    </div>
</div>

{% endblock %}
