{% include 'connexion/include.html' %}
{% block body %}
{% load static %}

<body style="background: url(&quot;{% static 'img/resetdone.jpg' %}&quot;)
 no-repeat center center fixed;webkit-background-size: cover;moz-background-size: cover;
 background-size: cover;o-background-size: cover;">

<div class="content-section">
    <div class="alert alert-info text-center" style="background-color:white;align:center;">
        <h1>Réinitialisez votre mot de passe</h1>

        <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe.</p>
        <p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré le
              l'adresse avec laquelle vous vous êtes inscrit.</p>
    </div>
</div>

{% endblock %}